.elementor-10 .elementor-element.elementor-element-bfdef60 {
    margin-top: 24px;
    margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-5ba5dbb3 .elementor-heading-title {
    color: #3E4041;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-25160de8 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-3c3c2da6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-24c58216:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-24c58216>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #27B999;
}

.elementor-10 .elementor-element.elementor-element-24c58216>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-24c58216>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-24c58216>.elementor-background-slideshow {
    border-radius: 21px 21px 21px 21px;
}

.elementor-10 .elementor-element.elementor-element-24c58216>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 6px 0px 0px;
    --e-column-margin-right: 6px;
    --e-column-margin-left: 0px;
    padding: 27px 27px 27px 27px;
}

.elementor-10 .elementor-element.elementor-element-24c58216>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-7d889011 .elementor-heading-title {
    color: #D5D5D5;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-2be1ef02 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-icon i {
    color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-icon svg {
    fill: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-71563e0c {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: right;
    --e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-text {
    color: #FDFDFD;
}

.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-10 .elementor-element.elementor-element-71563e0c .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-71563e0c>.elementor-widget-container {
    margin: 0px 0px 0px 145px;
    padding: 0px 5px 0px 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-38ed4d60:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-38ed4d60>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F47C7C;
}

.elementor-10 .elementor-element.elementor-element-38ed4d60>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-38ed4d60>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-38ed4d60>.elementor-background-slideshow {
    border-radius: 21px 21px 21px 21px;
}

.elementor-10 .elementor-element.elementor-element-38ed4d60>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 6px 0px 0px;
    --e-column-margin-right: 6px;
    --e-column-margin-left: 0px;
    padding: 27px 27px 27px 27px;
}

.elementor-10 .elementor-element.elementor-element-38ed4d60>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-7d6df8ff .elementor-heading-title {
    color: #D5D5D5;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-7c9bc342 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-icon i {
    color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-6c407a89 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: right;
    --e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-text {
    color: #FDFDFD;
}

.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-10 .elementor-element.elementor-element-6c407a89 .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-6c407a89>.elementor-widget-container {
    margin: 0px 0px 0px 145px;
    padding: 0px 5px 0px 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-560f6c53 {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-3d06067b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-3d06067b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #8D7EE9;
}

.elementor-10 .elementor-element.elementor-element-3d06067b>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-3d06067b>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-3d06067b>.elementor-background-slideshow {
    border-radius: 21px 21px 21px 21px;
}

.elementor-10 .elementor-element.elementor-element-3d06067b>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 6px 0px 0px;
    --e-column-margin-right: 6px;
    --e-column-margin-left: 0px;
    padding: 27px 27px 27px 27px;
}

.elementor-10 .elementor-element.elementor-element-3d06067b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-52211f57 .elementor-heading-title {
    color: #D5D5D5;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-24d19305 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-icon i {
    color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-icon svg {
    fill: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: right;
    --e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-text {
    color: #FDFDFD;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-10 .elementor-element.elementor-element-4cd02d2a .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-4cd02d2a>.elementor-widget-container {
    margin: 0px 0px 0px 145px;
    padding: 0px 5px 0px 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-77a98fc1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-77a98fc1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #14C3E5;
}

.elementor-10 .elementor-element.elementor-element-77a98fc1>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-77a98fc1>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-77a98fc1>.elementor-background-slideshow {
    border-radius: 21px 21px 21px 21px;
}

.elementor-10 .elementor-element.elementor-element-77a98fc1>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 6px 0px 0px;
    --e-column-margin-right: 6px;
    --e-column-margin-left: 0px;
    padding: 27px 27px 27px 27px;
}

.elementor-10 .elementor-element.elementor-element-77a98fc1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-3de49b0a .elementor-heading-title {
    color: #D5D5D5;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-55e6cde5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 47px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-icon i {
    color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-600255b5 {
    --e-icon-list-icon-size: 20px;
    --e-icon-list-icon-align: right;
    --e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25);
}

.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-text {
    color: #FDFDFD;
}

.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #0C7AEC;
}

.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-10 .elementor-element.elementor-element-600255b5 .elementor-icon-list-item>a {
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-600255b5>.elementor-widget-container {
    margin: 0px 0px 0px 145px;
    padding: 0px 5px 0px 4px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-59610c1a>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-59610c1a>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-59610c1a>.elementor-background-slideshow {
    border-radius: 29px 29px 29px 29px;
}

.elementor-10 .elementor-element.elementor-element-59610c1a>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-47f4c00e {
    margin-top: 10px;
    margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-2548de6f>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 29px 29px 29px;
}

.elementor-10 .elementor-element.elementor-element-2548de6f>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-2548de6f>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-2548de6f>.elementor-background-slideshow {
    border-radius: 29px 29px 29px 29px;
}

.elementor-10 .elementor-element.elementor-element-2548de6f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-25888974 {
    text-align: left;
}

.elementor-10 .elementor-element.elementor-element-25888974 .elementor-heading-title {
    color: #F14D5D;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-25888974>.elementor-widget-container {
    margin: 18px 0px 0px 0px;
    padding: 9px 9px 9px 9px;
}

.elementor-10 .elementor-element.elementor-element-660dae66 {
    color: #2F2F2F;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.elementor-10 .elementor-element.elementor-element-660dae66>.elementor-widget-container {
    margin: -17px 0px -30px 11px;
}

.elementor-10 .elementor-element.elementor-element-426a1da7 .fluentform-widget-wrapper .ff-el-group .ff-btn-submit {
    background-color: #409EFF !important;
    color: #ffffff !important;
}

.elementor-10 .elementor-element.elementor-element-5da52380 {
    margin-top: 34px;
    margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-3f160eec {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-3f160eec .elementor-heading-title {
    color: #090909;
    font-family: "Poppins", Sans-serif;
    font-size: 33px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-3ad2a87e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-3ad2a87e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0083DD;
}

.elementor-10 .elementor-element.elementor-element-3ad2a87e>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-3ad2a87e>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-3ad2a87e>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-3ad2a87e>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-3ad2a87e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-176ff509 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-176ff509 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-37e08ba6:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-37e08ba6>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #71AE0E;
}

.elementor-10 .elementor-element.elementor-element-37e08ba6>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-37e08ba6>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-37e08ba6>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-37e08ba6>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-37e08ba6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-702644f7 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-702644f7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-1a7902ba:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-1a7902ba>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0083DD;
}

.elementor-10 .elementor-element.elementor-element-1a7902ba>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-1a7902ba>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-1a7902ba>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-1a7902ba>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-1a7902ba>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-5f415615 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-5f415615 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-1cae384b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-1cae384b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #71AE0E;
}

.elementor-10 .elementor-element.elementor-element-1cae384b>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-1cae384b>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-1cae384b>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-1cae384b>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-1cae384b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-167ea27a {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-167ea27a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-2c99cb65:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-2c99cb65>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #71AE0E;
}

.elementor-10 .elementor-element.elementor-element-2c99cb65>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-2c99cb65>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-2c99cb65>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-2c99cb65>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-2c99cb65>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-71f78377 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-71f78377 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-2020476d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-2020476d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0083DD;
}

.elementor-10 .elementor-element.elementor-element-2020476d>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-2020476d>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-2020476d>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-2020476d>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-2020476d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-4ba6b90b {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-4ba6b90b .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-79ddfefe:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-79ddfefe>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #71AE0E;
}

.elementor-10 .elementor-element.elementor-element-79ddfefe>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-79ddfefe>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-79ddfefe>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-79ddfefe>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-79ddfefe>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-2e700d26 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-2e700d26 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-386fd8e9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-386fd8e9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0083DD;
}

.elementor-10 .elementor-element.elementor-element-386fd8e9>.elementor-element-populated {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 14px 14px 14px 14px;
    --e-column-margin-right: 14px;
    --e-column-margin-left: 14px;
    padding: 18px 18px 18px 18px;
}

.elementor-10 .elementor-element.elementor-element-386fd8e9>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-386fd8e9>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-386fd8e9>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-386fd8e9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-7558b97f {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-7558b97f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-4c8e0df0 {
    margin-top: 50px;
    margin-bottom: 15px;
}

.elementor-10 .elementor-element.elementor-element-2ae3b9df {
    --divider-border-style: dashed;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-10 .elementor-element.elementor-element-2ae3b9df .elementor-divider-separator {
    width: 100%;
}

.elementor-10 .elementor-element.elementor-element-2ae3b9df .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-10 .elementor-element.elementor-element-708792f3 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-708792f3 .elementor-heading-title {
    color: #090909;
    font-family: "Poppins", Sans-serif;
    font-size: 33px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-4b221fb0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-1e7c03c0 {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-10 .elementor-element.elementor-element-1e7c03c0>.elementor-widget-container {
    padding: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-2549543e {
    margin-top: -35px;
    margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-4117342c {
    text-align: right;
}

.elementor-10 .elementor-element.elementor-element-4117342c .elementor-heading-title {
    color: #090909;
    font-family: "Poppins", Sans-serif;
    font-size: 23px;
    font-weight: 700;
}

.elementor-10 .elementor-element.elementor-element-65449866 .elementor-button:hover,
.elementor-10 .elementor-element.elementor-element-65449866 .elementor-button:focus {
    color: #FCFCFC;
    background-color: #0B4C9C;
}

.elementor-10 .elementor-element.elementor-element-65449866 .elementor-button:hover svg,
.elementor-10 .elementor-element.elementor-element-65449866 .elementor-button:focus svg {
    fill: #FCFCFC;
}

.elementor-10 .elementor-element.elementor-element-65449866 .elementor-button {
    border-radius: 20px 20px 20px 20px;
}

.elementor-10 .elementor-element.elementor-element-65449866>.elementor-widget-container {
    margin: -9px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-5a3078d5 .elementor-button:hover,
.elementor-10 .elementor-element.elementor-element-5a3078d5 .elementor-button:focus {
    color: #FCFCFC;
    background-color: #0B4C9C;
}

.elementor-10 .elementor-element.elementor-element-5a3078d5 .elementor-button:hover svg,
.elementor-10 .elementor-element.elementor-element-5a3078d5 .elementor-button:focus svg {
    fill: #FCFCFC;
}

.elementor-10 .elementor-element.elementor-element-5a3078d5 .elementor-button {
    border-radius: 20px 20px 20px 20px;
}

.elementor-10 .elementor-element.elementor-element-5a3078d5>.elementor-widget-container {
    margin: -9px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-7168b35b {
    --divider-border-style: dashed;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-10 .elementor-element.elementor-element-7168b35b .elementor-divider-separator {
    width: 100%;
}

.elementor-10 .elementor-element.elementor-element-7168b35b .elementor-divider {
    padding-top: 7px;
    padding-bottom: 7px;
}

.elementor-10 .elementor-element.elementor-element-39ad84ff:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-39ad84ff>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FDF7F1;
}

.elementor-10 .elementor-element.elementor-element-39ad84ff {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 40px 0px;
}

.elementor-10 .elementor-element.elementor-element-39ad84ff>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-ffb7f47 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-ffb7f47 .elementor-heading-title {
    color: #090909;
    font-family: "Poppins", Sans-serif;
    font-size: 37px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-ffb7f47>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-682a04f0 {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
}

.elementor-10 .elementor-element.elementor-element-682a04f0>.elementor-widget-container {
    padding: 10px 10px 10px 10px;
}

.elementor-10 .elementor-element.elementor-element-535418d3 {
    margin-top: -50px;
    margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-52fee2c8>.elementor-element-populated {
    padding: 21px 21px 21px 21px;
}

.elementor-10 .elementor-element.elementor-element-66f6ef6f {
    --spacer-size: 50px;
}

.elementor-10 .elementor-element.elementor-element-574b1171.elementor-view-stacked .elementor-icon {
    background-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-574b1171.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-574b1171.elementor-view-default .elementor-icon {
    fill: #115095;
    color: #115095;
    border-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-574b1171 {
    --icon-box-icon-margin: 15px;
}

.elementor-10 .elementor-element.elementor-element-574b1171 .elementor-icon-box-title {
    color: #115095;
}

.elementor-10 .elementor-element.elementor-element-574b1171 .elementor-icon-box-description {
    color: #2C2B2B;
}

.elementor-10 .elementor-element.elementor-element-16e8401c.elementor-view-stacked .elementor-icon {
    background-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-16e8401c.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-16e8401c.elementor-view-default .elementor-icon {
    fill: #115095;
    color: #115095;
    border-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-16e8401c {
    --icon-box-icon-margin: 15px;
}

.elementor-10 .elementor-element.elementor-element-16e8401c .elementor-icon-box-title {
    color: #115095;
}

.elementor-10 .elementor-element.elementor-element-16e8401c .elementor-icon-box-description {
    color: #2C2B2B;
}

.elementor-10 .elementor-element.elementor-element-14965e26.elementor-view-stacked .elementor-icon {
    background-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-14965e26.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-14965e26.elementor-view-default .elementor-icon {
    fill: #115095;
    color: #115095;
    border-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-14965e26 {
    --icon-box-icon-margin: 15px;
}

.elementor-10 .elementor-element.elementor-element-14965e26 .elementor-icon-box-title {
    color: #115095;
}

.elementor-10 .elementor-element.elementor-element-14965e26 .elementor-icon-box-description {
    color: #2C2B2B;
}

.elementor-10 .elementor-element.elementor-element-27f78cf4>.elementor-element-populated {
    padding: 20px 20px 20px 20px;
}

.elementor-10 .elementor-element.elementor-element-89aaf71>.elementor-element-populated {
    padding: 21px 21px 21px 21px;
}

.elementor-10 .elementor-element.elementor-element-ea9836e {
    --spacer-size: 50px;
}

.elementor-10 .elementor-element.elementor-element-7515a42d.elementor-view-stacked .elementor-icon {
    background-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-7515a42d.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-7515a42d.elementor-view-default .elementor-icon {
    fill: #115095;
    color: #115095;
    border-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-7515a42d {
    --icon-box-icon-margin: 15px;
}

.elementor-10 .elementor-element.elementor-element-7515a42d .elementor-icon-box-title {
    color: #115095;
}

.elementor-10 .elementor-element.elementor-element-7515a42d .elementor-icon-box-description {
    color: #414141;
}

.elementor-10 .elementor-element.elementor-element-691b0b72.elementor-view-stacked .elementor-icon {
    background-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-691b0b72.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-691b0b72.elementor-view-default .elementor-icon {
    fill: #115095;
    color: #115095;
    border-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-691b0b72 {
    --icon-box-icon-margin: 15px;
}

.elementor-10 .elementor-element.elementor-element-691b0b72 .elementor-icon-box-title {
    color: #115095;
}

.elementor-10 .elementor-element.elementor-element-691b0b72 .elementor-icon-box-description {
    color: #414141;
}

.elementor-10 .elementor-element.elementor-element-7c85bb49.elementor-view-stacked .elementor-icon {
    background-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-7c85bb49.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-7c85bb49.elementor-view-default .elementor-icon {
    fill: #115095;
    color: #115095;
    border-color: #115095;
}

.elementor-10 .elementor-element.elementor-element-7c85bb49 {
    --icon-box-icon-margin: 15px;
}

.elementor-10 .elementor-element.elementor-element-7c85bb49 .elementor-icon-box-title {
    color: #115095;
}

.elementor-10 .elementor-element.elementor-element-7c85bb49 .elementor-icon-box-description {
    color: #414141;
}

.elementor-10 .elementor-element.elementor-element-1edb0627 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-1edb0627 .elementor-heading-title {
    color: #090909;
    font-family: "Poppins", Sans-serif;
    font-size: 37px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-55feeed4 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-55feeed4 .elementor-heading-title {
    color: #080909;
    font-family: "Poppins", Sans-serif;
    font-size: 29px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-62e4087e:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-62e4087e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
    background-image: url("https://raddix.in/wp-content/uploads/2022/09/Background-3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-62e4087e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-10 .elementor-element.elementor-element-62e4087e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-1f315972>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-10 .elementor-element.elementor-element-1f315972>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-54da4e83 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-54da4e83 .elementor-heading-title {
    color: #343431;
    font-family: "Poppins", Sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.4em;
}

.elementor-10 .elementor-element.elementor-element-6aa544bf {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-6aa544bf .elementor-heading-title {
    color: #707273;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-10 .elementor-element.elementor-element-6aa544bf>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-10 .elementor-element.elementor-element-196dbff7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
}

.elementor-10 .elementor-element.elementor-element-5887695d {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-5887695d .elementor-heading-title {
    color: #181818;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

.elementor-10 .elementor-element.elementor-element-5887695d>.elementor-widget-container {
    margin: 66px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-6475c2e2 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-10 .elementor-element.elementor-element-6f99fd2c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 28px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-78378fbd {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-78378fbd .elementor-heading-title {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 43px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-78378fbd>.elementor-widget-container {
    margin: 6px 0px 20px 0px;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-tab-title {
    border-width: 0px;
    border-color: #C3C1C1;
    padding: 15px 15px 15px 15px;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-tab-content {
    border-width: 0px;
    border-bottom-color: #C3C1C1;
    font-family: "Poppins", Sans-serif;
    font-weight: 100;
    padding: 6px 0px 1px 15px;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-item:not(:last-child) {
    margin-bottom: 15px;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-item {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-title,
.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-icon {
    color: #070707;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-icon svg {
    fill: #070707;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-tab-title.elementor-active a,
.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-tab-title.elementor-active .elementor-toggle-icon {
    color: #CB5801;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-title {
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 0px;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24 .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 0px;
}

.elementor-10 .elementor-element.elementor-element-c1e1a24>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-7d19a991 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-7d19a991 .elementor-heading-title {
    color: #080909;
    font-family: "Poppins", Sans-serif;
    font-size: 29px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-7d19a991>.elementor-widget-container {
    padding: 24px 0px 16px 0px;
}

.elementor-10 .elementor-element.elementor-element-7f095f65 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-7f095f65 .elementor-heading-title {
    color: #B3600A;
    font-family: "Poppins", Sans-serif;
    font-size: 29px;
    font-weight: 600;
}

.elementor-10 .elementor-element.elementor-element-7f095f65>.elementor-widget-container {
    padding: 24px 0px 16px 0px;
}

.elementor-10 .elementor-element.elementor-element-5cb5b2f1 .elementor-wrapper {
    aspect-ratio: 16 / 9;
}

.elementor-10 .elementor-element.elementor-element-cc399d6>.elementor-element-populated {
    border-style: dashed;
    border-width: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 23px 0px 23px;
}

.elementor-10 .elementor-element.elementor-element-cc399d6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-31d0bf8a {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-31d0bf8a>.elementor-widget-container {
    margin: 0px 100px 0px 100px;
    padding: 14px 14px 14px 14px;
    border-radius: 19px 19px 19px 19px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-10 .elementor-element.elementor-element-3a82f795 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-3a82f795>.elementor-widget-container {
    margin: 0px 100px 0px 100px;
    padding: 14px 14px 14px 14px;
    border-radius: 19px 19px 19px 19px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-10 .elementor-element.elementor-element-133e4fe5 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-133e4fe5>.elementor-widget-container {
    margin: 0px 100px 0px 100px;
    padding: 14px 14px 14px 14px;
    border-radius: 19px 19px 19px 19px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-10 .elementor-element.elementor-element-246330da {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-246330da>.elementor-widget-container {
    margin: 0px 100px 0px 100px;
    padding: 14px 14px 14px 14px;
    border-radius: 19px 19px 19px 19px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) {
    .elementor-10 .elementor-element.elementor-element-54da4e83 .elementor-heading-title {
        font-size: 33px;
    }
}

@media(min-width:768px) {
    .elementor-10 .elementor-element.elementor-element-21d75008 {
        width: 67.155%;
    }
    .elementor-10 .elementor-element.elementor-element-59610c1a {
        width: 32.177%;
    }
    .elementor-10 .elementor-element.elementor-element-2548de6f {
        width: 100%;
    }
    .elementor-10 .elementor-element.elementor-element-f94cf7f {
        width: 11.177%;
    }
    .elementor-10 .elementor-element.elementor-element-3cecb770 {
        width: 25.083%;
    }
    .elementor-10 .elementor-element.elementor-element-6676f5ab {
        width: 25.368%;
    }
    .elementor-10 .elementor-element.elementor-element-76956268 {
        width: 25.081%;
    }
    .elementor-10 .elementor-element.elementor-element-7121f27c {
        width: 13.271%;
    }
    .elementor-10 .elementor-element.elementor-element-4d9cd142 {
        width: 11.4%;
    }
    .elementor-10 .elementor-element.elementor-element-3b7b1c73 {
        width: 23.5%;
    }
    .elementor-10 .elementor-element.elementor-element-5223296e {
        width: 49.8%;
    }
    .elementor-10 .elementor-element.elementor-element-2803a210 {
        width: 15.275%;
    }
    .elementor-10 .elementor-element.elementor-element-3c2f696e {
        width: 46.3%;
    }
    .elementor-10 .elementor-element.elementor-element-478edcbf {
        width: 53.65%;
    }
    .elementor-10 .elementor-element.elementor-element-3b19ebc8 {
        width: 69.126%;
    }
    .elementor-10 .elementor-element.elementor-element-cc399d6 {
        width: 30.821%;
    }
}

@media(min-width:1025px) {
    .elementor-10 .elementor-element.elementor-element-62e4087e:not(.elementor-motion-effects-element-type-background),
    .elementor-10 .elementor-element.elementor-element-62e4087e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media(max-width:767px) {
    .elementor-10 .elementor-element.elementor-element-5ba5dbb3 .elementor-heading-title {
        font-size: 33px;
    }
    .elementor-10 .elementor-element.elementor-element-5ba5dbb3>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-21d75008>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-24c58216>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 13px;
    }
    .elementor-10 .elementor-element.elementor-element-24c58216>.elementor-element-populated {
        margin: 0px 0px 11px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-10 .elementor-element.elementor-element-7d889011 .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-10 .elementor-element.elementor-element-2be1ef02 .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-10 .elementor-element.elementor-element-2be1ef02>.elementor-widget-container {
        margin: 0px 0px 0px -3px;
    }
    .elementor-10 .elementor-element.elementor-element-71563e0c>.elementor-widget-container {
        margin: 0px 0px 0px 90px;
    }
    .elementor-10 .elementor-element.elementor-element-7d6df8ff .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-10 .elementor-element.elementor-element-7c9bc342 .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-10 .elementor-element.elementor-element-7c9bc342>.elementor-widget-container {
        margin: 0px 0px 0px -3px;
    }
    .elementor-10 .elementor-element.elementor-element-6c407a89>.elementor-widget-container {
        margin: 0px 0px 0px 83px;
    }
    .elementor-10 .elementor-element.elementor-element-3d06067b>.elementor-element-populated {
        margin: 0px 0px 11px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-10 .elementor-element.elementor-element-52211f57 .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-10 .elementor-element.elementor-element-24d19305 .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-10 .elementor-element.elementor-element-24d19305>.elementor-widget-container {
        margin: 0px 0px 0px -3px;
    }
    .elementor-10 .elementor-element.elementor-element-4cd02d2a>.elementor-widget-container {
        margin: 0px 0px 0px 90px;
    }
    .elementor-10 .elementor-element.elementor-element-3de49b0a .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-10 .elementor-element.elementor-element-55e6cde5 .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-10 .elementor-element.elementor-element-55e6cde5>.elementor-widget-container {
        margin: 0px 0px 0px -3px;
    }
    .elementor-10 .elementor-element.elementor-element-600255b5>.elementor-widget-container {
        margin: 0px 0px 0px 83px;
    }
    .elementor-10 .elementor-element.elementor-element-176ff509 {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-702644f7 {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-5f415615 {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-167ea27a {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-71f78377 {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-4ba6b90b {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-2e700d26 {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-7558b97f {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-4117342c {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-1edb0627 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-10 .elementor-element.elementor-element-55feeed4 .elementor-heading-title {
        font-size: 21px;
    }
    .elementor-10 .elementor-element.elementor-element-54da4e83 {
        text-align: center;
    }
    .elementor-10 .elementor-element.elementor-element-54da4e83 .elementor-heading-title {
        font-size: 30px;
    }
    .elementor-10 .elementor-element.elementor-element-196dbff7>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-78378fbd .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-10 .elementor-element.elementor-element-630f0264>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-7d19a991 .elementor-heading-title {
        font-size: 21px;
    }
    .elementor-10 .elementor-element.elementor-element-7f095f65 .elementor-heading-title {
        font-size: 21px;
    }
}